{% extends "base.html" %}

{% block title %}Page Not Found | Brighton GLOW Skincare {% endblock %}

{% block content %}
<div class="container text-center" style="padding-top: 100px;">
    <h1>404 - Page Not Found</h1>
    <p>Oops! The page you're looking for doesn't exist.</p>
    <a href="{% url 'home' %}" class="btn custom-btn-primary">Go Back Home</a>
</div>

<div class="container-fluid text-center py-5 promo-banner">
    <h3>Ready to glow? Shop now & let your skin shine!</h3>
    <br>
    <a href="{% url 'products_home' %}" class="custom-btn-primary">Shop Skincare</a>
  </div>
  
  <div class="container-fluid text-center py-5 promo-banner">
    <h3>Discover our Gift Sets and Save on Your Favourites!</h3>
    <br>
    <a href="{% url 'category_detail' 'Gift Sets' %}" class="custom-btn-primary">Shop Gift Sets</a>
  </div>
  
{% endblock %}
