<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Brighton GLOW Skincare | Effortless Skincare {% endblock %}

{% block meta_description %}
Discover Brighton GLOW's natural skincare products
for effortless beauty and glowing skin. Shop now for simple routines that fit your lifestyle.
{% endblock %}

{% block meta_keywords %} {{ block.super }}
skincare products, effortless skincare, easy skincare, simple skincare
{% endblock %}
{% block content %}

<!-- Top Banner -->
<header style="padding-top: 80px;">
<div class="background-light-brown">
  <div class="home-banner container-fluid text-white py-3 text-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="promotional banner women skincare"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="promo banner single woman skincare"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="promo banner hand with cream"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="{% url 'products_home' %}">
          <img src="{% static 'images/brightonglowskin1.png' %}" class="d-block w-100 banner-image" alt="group of women smiling">
        </a>
        </div>
        <div class="carousel-item">
          <a href="{% url 'products_home' %}">
          <img src="{% static 'images/brightonglowskin2.png' %}" class="d-block w-100 banner-image" alt="1 woman with a face pad using skincare">
        </a>
        </div>
        <div class="carousel-item">
          <a href="{% url 'products_home' %}">
          <img src="{% static 'images/brightonglowskin3.png' %}" class="d-block w-100 banner-image" alt="a womens hand with cream on">
        </a>
        </div>
      </div>
    </div>
  </div>
  </div>

</header>

<!-- Featured Products -->

<div class="container my-5 background-white">
  <div class="featured">
    <h1 class="text-center mb-4">Featured Products</h1>
    <div class="row">
      {% for product in featured_products %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <a href="{% url 'product_detail' product.id %}">
              {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
              {% else %}
                <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="Default Image">
              {% endif %}
            </a>
            <div class="card-body text-center">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="text-white">£{{ product.price }}</p>
              <a href="{% url 'product_detail' product.id %}" class="custom-btn-primary">View</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  </div>

<div class="container my-5 background-white homepage-blurb">
  <div class="row align-items-center px-3">
    <div class="col-md-6">
      <img src="{% static 'images/brightonglowskininfo.png' %}" class="img-fluid" alt="female face cream">
    </div>
    <div class="col-md-6">
      <h2>Glow Every Day with Skincare That Just Works</h2>
      <br>
      <p>Say goodbye to complicated routines and hello to effortless radiance.</p>
      <p>At Brighton Glow, we bring you a range of skincare products designed to fit seamlessly into your life—because great skin should be simple.</p>
      <blockquote class="blockquote">
        <p>“My skin has never felt so fresh and dewy! Brighton Glow is a total game-changer.” – Sophie R.</p>
      </blockquote>
      <h5>Ready to glow? Shop now & let your skin shine!</h5>
      <br>
      <a class="btn custom-btn-primary" href="{% url 'products_home' %}">Shop Skincare</a>
      <a class="btn custom-btn-primary" href="{% url 'faq_list' %}">View FAQ's</a>
      <a class="btn custom-btn-primary" href="{% url 'skin_quiz' %}">Take our Skin Quiz</a>
    </div>
  </div>
</div>


<div class="container-fluid text-center py-5 promo-banner">
  <h3>Discover our Gift Sets and Save on Your Favourites!</h3>
  <br>
  <a href="{% url 'category_detail' 'Gift Sets' %}" class="custom-btn-primary">Shop Gift Sets</a>
</div>

{% endblock %}
