{% extends 'base.html' %}
{% load static %}

{% block title %}Login | Brighton GLOW Skincare{% endblock %}

{% block meta_description %}
Sign in to your Brighton GLOW account to manage orders, track purchases and update your details. 
Your glow, your way—log in now!
{% endblock %}

{% block meta_keywords %} {{ block.super }}
login skincare account, Brighton GLOW login, sign in skincare, track skincare orders, skincare shopping
{% endblock %}

{% block content %}
<header style="padding-top: 60px;">
<div class="container my-5 background-light-brown">
    <div class="row align-items-center">
        <!-- Details Column -->
        <div class="col-md-6 about-blurb">
            <h2>Welcome to Brighton GLOW</h2>
            <br>
            <div class="login">
            <h2>Login</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="custom-btn-primary">Login</button>
            </form>
            <br>
            <p>Don't have an account? <a href="{% url 'register' %}" class="custom-btn-primary">Sign up</a></p>
          </div>
        </div>
        <!-- Image Column -->
        <div class="col-md-6 mb-4 mb-md-0 img">
          <img src="{% static 'images/brightonglowskinlogin.png' %}" alt="female face cream" class="img-fluid">
      </div>
    </div>
</header>

</script>
{% endblock %}
