{% extends 'base.html' %}
{% block title %}My Account{% endblock %}

{% block content %}
<header style="padding-top: 60px;">
<div class="container my-5">
  <h2 class="text-center mb-4">My Account</h2>

  <div class="row">
    <!-- Profile Details -->
    <div class="col-md-6 mx-auto text-center mb-4 profile">
        <h4>Your Info</h4>
        <p>Manage your information</p>
        <a href="{% url 'update_profile' %}" class="custom-btn-primary">Update Profile</a>
    </div>
  </div>
</div>
</header>
{% endblock %}
