{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<header style="padding-top: 60px;">
<div class="container my-5 background-light-brown">
    <div class="row align-items-center">
        <!-- Image Column -->
        <div class="col-md-6 mb-4 mb-md-0 img">
            <img src="{% static 'images/brightonglowskinregister.png' %}" alt="female face cream" class="img-fluid">
        </div>

        <!-- Details Column -->
        <div class="col-md-6 about-blurb">
            <h2>Welcome to Brighton GLOW</h2>
            <br>
            <div class="register">
              <h2>Register</h2>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign Up</button>
              </form>
              <br>
              <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
          </div>
        </div>
    </div>

</header>

</script>
{% endblock %}
