{% extends 'base.html' %}
{% load static %}

{% block title %}Register | Brighton GLOW Skincare{% endblock %}

{% block meta_description %}
Join Brighton GLOW and unlock a seamless skincare shopping experience. 
Sign up to speed up checkout and track your orders, effortlessly!
{% endblock %}

{% block meta_keywords %} {{ block.super }}
register skincare account, create Brighton GLOW account, sign up skincare, skincare shopping
{% endblock %}

{% block content %}
<header style="padding-top: 60px;">
<div class="container my-5 background-white">
    <div class="row align-items-center">
        <!-- Image Column -->
        <div class="col-md-6 mb-4 mb-md-0 img">
            <img src="{% static 'images/brightonglowskinregister.png' %}" alt="female face cream" class="img-fluid">
        </div>

        <!-- Details Column -->
        <div class="col-md-6 about-blurb">
            <h2>Welcome to Brighton GLOW</h2>
            <br>
            <div class="register">
              <h2>Register</h2>
              <!-- Alert Messages -->
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-danger">{{ message }}</div>
              {% endfor %}
              {% endif %}
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="custom-btn-primary">Sign Up</button>
              </form>
              <br>
              <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
          </div>
        </div>
    </div>

</header>

</script>
{% endblock %}
