{% extends 'base.html' %}

{% block title %}Update Your Profile | Brighton GLOW Skincare{% endblock %}

{% block meta_description %}
Keep your Brighton GLOW profile up to date! Manage your shipping details, and account settings for a seamless shopping experience.
{% endblock %}

{% block meta_keywords %} {{ block.super }}
Brighton GLOW account, update skincare profile, account settings
{% endblock %}

{% block content %}
<header style="padding-top: 60px;">
  <div class="container my-5 background-white">
      <div class="row align-items-center">
        <h2>Update Profile</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="custom-btn-primary" type="submit">Save Changes</button>
        </form>
      </div>
  </div>
  </header>
  {% endblock %}





