{% extends "base.html" %}

{% block title %}About Us | Brighton GLOW Skincare{% endblock %}

{% block content %}
<header style="padding-top: 100px;">
    <div class="container my-5 background-white">
        <div class="row align-items-center">
            <!-- Image Column -->
            <div class="col-md-6 mb-4 mb-md-0 img">
                <img src="{% static 'images/brightonglowskinlabout.png' %}" alt="female face cream" class="img-fluid">
            </div>
            
            <!-- Details Column -->
             <div class="col-md-6 about-blurb">
                <h1>{{ about.header }}</h1>
                <h3>{{ about.sub_heading }}</h3>
                <p>{{ about.content|linebreaks }}</p>

                <h5>Ready to glow? Shop now & let your skin shine!</h5>
                <br>
                <a class="btn custom-btn-primary" href="{% url 'products_home' %}">Shop Skincare</a>
            </div>
            {% endif %}
        </div>
    </div>

    <div id="loyalty" class="container my-5 background-white">
        <div class="row align-items-center">
      
            <!-- Details Column -->
            <div class="col-md-10 loyalty-blurb">
                <h2>GLOW Points - our way of saying thanks!</h2>
                <br>
                <h3>Where skincare meets simplicity, and glowing skin is always in.</h3>
                <br>
                <p>At Brighton GLOW, we believe in celebrating every step of your skincare journey. That's why we've introduced GLOW Points, our loyalty program designed to reward you for taking care of your skin.</p>
                <br>
                <h3>How it Works</h3>
                <li>Earn 1 GLOW Point for every £10 spent on our products.</li>
                <li>Accumulate points to unlock exclusive rewards that enhance your self-care routine.</li>
                <br>
                <h3>Redeem your Glow</h3>
                <p>Once you've gathered enough GLOW Points, you'll receive a special gift to elevate your skincare experience. 
                  While the exact rewards may vary, here's a glimpse of what you might look forward to:</p>
                  <li>A Spa Day Voucher at a leading spa chain, such as Serenity Spa Retreats, offering you a day of relaxation and rejuvenation.</li>
                  <li>One of our Travel Skincare Sets, perfect for maintaining your glow on the go.</li>
                  <li>An Exclusive Brighton GLOW Gift Set, featuring some of our best-loved products to pamper your skin.</li>
                  <p><i>Note: Specific rewards and redemption thresholds will be detailed in our upcoming communications. Stay tuned!</i></p>
                <br>
                <p>When you reach a reward tier 25, 50, 75, 100, or 250 points, we’ll get in touch by email so you can choose your gift.
                  <br>
                  <h3>25, 50, 75, 100 and 200 GLOW Points</h3>
                  <br>
                  <p>Prefer to reach out first? No problem—just click the link below to email us, and we’ll arrange everything for you.
                      A little something lovely is coming your way.</p>
                  <br>
                  <h3>If you've reached a GLOW Rewards Tier</h3>
                  <br>
                  <p>
                    <a href="mailto:brogandaisy@gmail.com?subject=GLOW%20Reward%20Tier%20Reached" class="custom-btn-primary">
                      Email us, at Brighton GLOW to let us know!
                    </a>
                  </p>
                <h3>Why Join?</h3>
                <p>Because your commitment to your skin deserves recognition. GLOW Points are our way of saying thank you for choosing Brighton GLOW. It's not just about points, it's about being part of a community that values simplicity, effectiveness, and the joy of glowing skin.</p>
      
                <h5>Ready to glow? Shop now & let your skin shine!</h5>
                <br>
                <a class="btn custom-btn-primary" href="{% url 'products_home' %}">Shop Skincare</a>
      
            </div>
        </div>
      </div>

</header>
{% endblock %}
