{% extends 'base.html' %}
{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<header style="padding-top: 60px;">
<div class="container my-5">
    <h2>{{ category.name }}</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            </a>
            <h5>{{ product.name }}</h5>
            <p>{{ product.description }}</p>
            <p><strong>£{{ product.price }}</strong></p>
            <a class="custom-btn-primary" href="{% url 'product_detail' product.id %}">View</a>
            
            <form method="POST" action="{% url 'add_to_bag' product.id %}">
                {% csrf_token %}
                <button class="custom-btn-primary" type="button" onclick="decrement('{{ product.id }}')">-</button>
                <span id="quantity-{{ product.id }}">1</span>
                <button class="custom-btn-primary" type="button" onclick="increment('{{ product.id }}')">+</button>
                <input type="hidden" name="quantity" id="quantity-input-{{ product.id }}" value="1">
                <button type="submit" class="custom-btn-primary mt-2">Add to Bag</button>
            </form>
            
        </div>
        {% empty %}
        <p>No products in this category.</p>
        {% endfor %}
    </div>
</div>
</header>
{% endblock %}
